$primary: #2c86ff; // TODO: This should be Bluey's color
$secondary: #fe9d6e; // TODO: This should be Bingo's color

@import "./node_modules/bootstrap/scss/bootstrap";

// Staff colors
$helpers: #8f9fd5;
$mods: #216fd4;
$leadership: #ff6900;

@font-face {
    font-family: Bluey;
    src: url(/assets/Blueyfont.woff2);
}  

.blueyfont {
    font-family: Bluey;
}

.hero {
    background-image: url(/assets/hero_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar {
    aspect-ratio: 1 / 1;
    height: 85px;
    width: 85px;
    border-radius: 10px;
    border-width: 3px;
}

.bg-helpers-subtle {
    background-color: tint-color($helpers, 80%);
}
.bg-mods-subtle {
    background-color: tint-color($mods, 80%);
}
.bg-leadership-subtle {
    background-color: tint-color($leadership, 80%);
}

.border-helpers-subtle {
    border-color: tint-color($helpers, 60%);
}
.border-mods-subtle {
    border-color: tint-color($mods, 60%);
}
.border-leadership-subtle {
    border-color: tint-color($leadership, 60%);
}